.back-col {
  background: #1a1e23;
}
h1 {
  text-align: center;
  margin-top: 70px;
}
h1,
p,
h3 {
  font-family: "Noto Sans", sans-serif;
  color: antiquewhite;
}
.main {
  border: 1px solid white;
  height: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  gap: 2.5em;;
}








#box1 {
  box-shadow: 0 0 50px #ccc;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 15px ;
}
#imagebox {
  height: 100%;
  width: 100%;
  margin-right: 30%;
 
}
#imagebox > img {
  width: 100%;
  padding: 15px ;
}
.text>h3 {
    /* width: 40%; */
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-bottom: 50px; */
  }
#textbox {
  box-shadow: 0 0 50px #ccc;
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: auto;
}
#textbox>p{
  font-size: 2vw;
}
#textbox> p>img{
    width: 20px;
    height: 20px;
}
#tech-stack {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    margin: auto;
    /* border: 1px solid yellow; */
    box-shadow: 0 0 50px #ccc;
  }
  #tech-stack > div {
    font-size: 30px;
    padding: 0.2em;
    height: 10vh;
    width: 11vh;
    margin: auto; 
   }
  #tech-stack > div>img{
    height: 100%;
    width: 100%;
  }


#btn{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}





.button {
  box-shadow: 0 0 50px rgb(32, 47, 97);
  background-color: rgba(80, 162, 255, 0.87);
  border: none;
  color: rgb(3, 1, 1);
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  }
  .button2 {background-color: #e3f2fd;}
  .button2 {border-radius: 8px;}
 
/* animation */


@media all and (max-width: 550px) {
  .main{

    /* border: 1px solid red; */
    flex-wrap: wrap;
  }
  #textbox>p{
    font-size: 3.5vw;
  }
}
