*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.back-col {
    background: #1a1e23;
  }
  
.heading{
    text-align: center;
    color: azure;
    margin-bottom: 100px;
    margin-top: 50px;
}
 #image{
    height: 100px;
    width: 100px;
    margin: auto;
    align-items: center;
    text-align: center;
}
.card>img{
  height: 100%;
  width: 100%;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 2em;
  padding: 2em;
  
}
.card{
  height: 150px !important;
  width: 150px;
  transition: transform .2s;
  box-shadow: 0 0 15px #ccc;
}


.card:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
}
